body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
}

@font-face {
  font-family: 'Florida Vibes';
  src: url('Tipo-UBB-Regular_Condensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.team-member a {
  text-decoration: none;
  color: inherit; 
}

.team-member a:hover {
  text-decoration: underline; 
}
 /*Esto es para temas generales */

header {
  background-color: rgb(41, 63, 118); 
  color: white;
  padding: 1.5rem; 
  font-size: 1rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-family: 'Florida Vibes', serif;
  font-size: 4rem;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}

nav {
  margin-top: 3.5rem; 
}

.logo-left {
  position: absolute;
  left: 50px;
  top: 40%;
  transform: translateY(-50%);
  width: 350px;
  height: auto;
}

.logo-right {
  position: absolute;
  right: 50px; 
  top: 40%;
  transform: translateY(-50%);
  width: 150px;
  height: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: rgb(226, 127, 32); 
  color: white;
  border-radius: 5px;
}

main {
  padding: 2rem;
  background-color: #F1F1F1;
}

section {
  padding: 2rem;
  margin: 2rem 0;
  background-color: white;
  border: 1px solid #ddd;
  border-left: 5px solid rgb(41, 63, 118); 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 2.5rem;
  color: rgb(24, 56, 89); 
  margin-top: 0;
}

section p, .description, .text-and-video p {
  font-size: 1.3rem;
  color: rgb(51, 51, 51); 
  line-height: 1.8;
}

footer {
  background-color: rgb(24, 56, 89); 
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

.derechos {
  background-color: rgb(24, 56, 89); 
  color: white; 
  text-align: center; 
  padding: 1rem; 
  font-size: 0.9rem; 
  width: 100vw; 
  box-sizing: border-box;
  margin-top: 2rem; 
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgb(226, 127, 32); 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a.button:hover {
  background-color: rgb(244, 169, 109); 
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  gap: 20px;
}

.content img {
  max-width: 40%;
  height: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.text-and-video {
  max-width: 55%;
  margin-left: auto;
}

.text-and-video h2 {
  font-size: 2.2rem;
  color: rgb(24, 56, 89);
}

.text-and-video p {
  font-size: 1.3rem;
  line-height: 1.8;
}

.text-and-video iframe {
  width: 100%;
  height: auto;
  max-width: 90%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.model-column {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

model-viewer {
  display: block;
  width: 100%;
  height: 800px;
  background-color: #f4f4f4;
}



.modal-content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;  
  height: 90vh; 
}

.modal-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}
 /*Esto es para la secicon de noticias */
.noticia {
  max-width: 100%;  
  overflow: hidden; 
  text-align: center;
}

.noticia img {
  width: 100%;   
  height: auto;  
  max-width: 2000px; 
}
.menu-toggle-checkbox {
  display: none;
}

.menu-toggle {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 100px; 
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

canvas {
  display: block;
  width: 100%;
  height: 5px;
}

.chart-container {
  width: 100%;
  height: auto;
}

 /*Esto es para la secicon de dispositivos moviles */

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .content img {
    max-width: 80%;
    height: auto;
  }

  .text-and-video {
    max-width: 100%;
    margin-left: 0;
  }

  .text-and-video iframe {
    max-width: 100%;
  }

  .menu-toggle {
    display: block;
    margin-top: 1px;

  }

  .logo-left, .logo-right {
    width: 75px; 
    height: auto;
    top: 60px; 
  }

  .logo-left {
    left: 6px; 
  }

  .logo-right {
    right: 4px; 
  }

  header h1 {
    margin-top: 10px; 
    font-size: 2.5rem;
  }

  nav ul.menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 10px;
    background-color: rgb(41, 63, 118);
    overflow: hidden;
    max-height: 0; 
    opacity: 0;    
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }

  .menu-toggle-checkbox:checked ~ nav ul.menu {
    max-height: 500px; 
    opacity: 1;
  }

  nav ul.menu li {
    display: block;
    margin: 10px 0;
  }
  .chart-container {
    width: 100%;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
  }


}

@media (max-width: 480px) {

  .logo-left {
    width: 120px;
    left: 4px; 
    height: auto;
    top: 60px; 
  }

  .logo-right {
    width: 75px;
    right: 4px; 
    height: auto;
    top: 60px; 
    }
  body {
    font-size: 14px;
  }

  header h1 {
    font-size: 2rem;
  }

  section h2, .text-and-video h2 {
    font-size: 1.8rem;
  }

  section p, .description, .text-and-video p {
    font-size: 1rem;
  }

  .content img {
    max-width: 100%;
    height: auto;
  }

  .text-and-video iframe {
    max-width: 100%;
    height: auto;
  }
  .chart-container {
    width: 125%;
    padding-top: 20px;
    margin-left: -35px;
    max-height: 600px; 
}

canvas {
    width: 100% !important;
    height: auto !important; 
}
}